<p style="color: green"><%= notice %></p>

<h1 class="text-center text-info">Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%#= link_to "Show this user", user, class: 'btn btn-success' %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: 'btn btn-info' %>
<%= link_to 'Add Course', @course, class: 'btn btn-warning' %>
